<form id="write-form" action="/post/write" method="POST">
    <div class="container">
        <br>
        <div class="category-select-wrap mb-3">
            <label for="category" class="form-label"><b>카테고리</b></label>
            <select name="category" class="form-select" id="category">
                <option value="general">자유게시판</option>
                <option value="notice">공지사항</option>
            </select>
        </div>
        <div class="mb-3">
            <input type="text" class="form-control" id="title" name="title" placeholder="제목">
        </div>
        <div class="mb-3">
            <textarea class="form-control" id="body" name="body" rows="5" placeholder="내용을 작성해주세요"></textarea>
        </div>
        <div class="d-grid">
            <input class="btn btn-primary" type="submit" value="등록하기">
        </div>
    </div>
</form>
