<div class="container">
    <br>
    <h3> 회원가입 </h3>
    <br>
    <form id="signUp-form" action="/signUp" method="POST">
        <div class="row mb-3">
        <label for="userId" class="col-sm-2 col-form-label">ID</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="userId" name="userId" placeholder="아이디">
        </div>
        </div>
        <div class="row mb-3">
        <label for="password" class="col-sm-2 col-form-label">Password</label>
        <div class="col-sm-10">
            <input type="password" class="form-control" id="password" name="password" placeholder="비밀번호">
        </div>
        </div>
        <div class="row mb-3">
            <label for="password2" class="col-sm-2 col-form-label">Password 재확인</label>
            <div class="col-sm-10">
                <input type="password" class="form-control" id="password2" name="password2" placeholder="비밀번호">
            </div>
        </div>
        <fieldset class="row mb-3">
            <button type="submit" class="btn btn-primary">등록하기</button>
        </fieldset>
    </form>
</div>